.showcase{
    padding:1rem 2rem;
    margin:0 auto;
}
.showcase >h3{
    cursor: pointer;
    text-align: center;
    margin:0 0 1rem 0.9rem;
    font-size:1.3rem;
    color:#ffff;
    letter-spacing: 2px;
}
.showcase h3 span{
    background-image: linear-gradient(to bottom, yellow 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size:1.4rem;
    font-family: "Sigmar One", cursive;
    font-weight:600;
}

.showcase__card{
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    grid-gap: 1rem;
}




@media screen and (max-width:1092px) {
    .showcase__card{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    
}
@media screen and (max-width:762px) {
    .showcase__card{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
@media screen and (max-width:500px) {
    .showcase__card{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    .showcase h3 span{
        font-size: 1.2rem;
    }
}











